[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
tb2neo = {path = ".",editable = true}
autopep8 = "*"
coveralls = "*"
pytest-cov = "*"
coverage = "*"

[packages]
bioservices = "*"
py2neo = "==3.1.2"
biopython = "*"
bcbio-gff = "*"
beautifulsoup4 = "*"
tqdm = "*"
click = "*"
urllib3 = ">=1.24.2"
requests-cache = "*"
combattbmodel = "*"

[requires]
python_version = "3.7"
