-i https://pypi.org/simple
appdirs==1.4.3
bcbio-gff==0.6.6
beautifulsoup4==4.7.1
biopython==1.73
bioservices==1.6.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
colorlog==4.0.2
easydev==0.9.37
gevent==1.4.0
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
grequests==0.3.0
idna==2.8
lxml==4.3.3
numpy==1.16.2
pandas==0.24.2
pexpect==4.7.0
ptyprocess==0.6.0
py2neo==3.1.2
python-dateutil==2.8.0
pytz==2018.9
requests-cache==0.4.13
requests==2.21.0
six==1.12.0
soupsieve==1.9
suds-jurko==0.6
tqdm==4.31.1
urllib3>=1.24.2
wrapt==1.11.1
xmltodict==0.12.0
click
coveralls
coverage
pytest-cov
